{% extends "base.html"  %}

{% load staticfiles %}

{% block content %}

    <div class="col-md-12 panel-info">
        <div class="content-box-header panel-heading">
            <div class="panel-title ">Etherpad</div>
        </div>
        <div class="content-box-large box-with-header">
             During the workshop, we will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
             <a href="http://etherpad.software-carpentry.org/telecom_workshop_python">Etherpad!</a>
        </div>
    </div>
    <div class="col-md-12 panel-warning">
        <div class="content-box-header panel-heading">
            <div class="panel-title ">Teaching Materials</div>
        </div>
        <div class="content-box-large box-with-header">
            <p><a href="https://paris-swc.github.io/advanced-numpy-lesson/">Advanced Numpy</a> 
            <p><a href="https://github.com/agramfort/sklearn_pandas_intro">Introduction to predictive analytics with Pandas and Scikit Learn</a> 
            <p><a href="https://paris-swc.github.io/python-testing-debugging-profiling/">Testing, debugging, profiling</a> 
            <p><a href="https://github.com/paris-swc/python-packaging">Packaging and continuous integration</a> 
        </div>
    </div>



{% endblock content %}

