{% extends "base.html"  %}

{% load staticfiles %}

{% block content %}

    <div class="col-md-12 panel-warning">
        <div class="content-box-header panel-heading">
            <div class="panel-title ">List of applicants</div>
        </div>
        <div class="content-box-large box-with-header">
            You can <b>vote for the participation of an applicant</b> (given his/her motivations). You can vote for as many applicants as you want.<br>
            We'll close the vote on 31 Mai and we'll discuss together the results. If we agree, applicants with most votes are selected to participate to the workshop.<br>
            <b>To vote for a participation: click on the orange button, the button becomes blue. 
            To remove your vote: click on the blue button.</b><br><br> 
            <table id="table_probicipants" class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Affiliation</th>
                        <th>Position</th>
                        <th>Research Domain</th>
                        <th>Programming Languages</th>
                        <th>Python level</th>
                        <th>Motivations</th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody>
                {% for probicipant, has_voted in list_probicipants %}
                    <tr>
                        <td>{{ probicipant.first_name }}, {{ probicipant.last_name }}</td>
                        <td>{{ probicipant.affiliation }}</td>
                        <td>{{ probicipant.get_position_display }}
                            {{ probicipant.position_other }}
                            {{ probicipant.doctoral_school }}</td>
                        <td>{{ probicipant.research_domain}}</td>
                        <td>{{ probicipant.programming_languages }}</td>
                        <td>{{ probicipant.get_python_level_display }}</td>
                        <td>{{ probicipant.motivations |linebreaks}}</td>
                        <td>{{ probicipant.votes.count }}<br>
                            {% if has_voted %}
                            <input type="button" class="btn btn-info" onclick="location.href='{% url 'frontapp:vote_up_down_probicipant' probicipant.id %}';" value="-1" />
                            {% else %}
                            <input type="button" class="btn btn-warning" onclick="location.href='{% url 'frontapp:vote_up_down_probicipant' probicipant.id %}';" value="+1" />
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}

{% block scripts %}

<script>
$(document).ready(function(){
    $('#table_probicipants').dataTable();
});
</script>

{% endblock scripts %}
