{% extends "base.html"  %}

{% load staticfiles %}

{% block content %}

    <div class="col-md-12 panel-warning">
        <div class="content-box-header panel-heading">
            <div class="panel-title ">If you want to participate to the workshop, please fill in this form:</div>
        </div>
        <div class="content-box-large box-with-header">
            <form action="{% url 'frontapp:registration' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>        
        <br /><br />
        </div>
    </div>


{% endblock content %}

