<!DOCTYPE html>
<html>
  <head>
    <title>Workshop Telecom - Scientific Programming, Best Practices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/frontapp/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="/static/frontapp/css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-10">
	              <!-- Logo -->
	              <div class="logo">
                      <!--<h1><a href="{% url 'frontapp:index' %}">Workshop Telecom Paris - 28-29, April 2016 <br> Scientific Programming with Python and Software Engineering Best Practices</a></h1>-->
                      <h1><a href="{% url 'frontapp:index' %}">Scientific Programming with Python and Software Engineering Best Practices</a></h1>
	              </div>
	           </div>
	           <div class="col-md-2">
                    <div class="logo">
                        <center><font color="white">Workshop <br>Telecom Paris</font> <br>
                        <font color="white">28-29, April 2016</font></center>
                   </div>
	              <!--
                  <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp">
	                          <li><a href="profile.html">Profile</a></li>
	                          <li><a href="login.html">Logout</a></li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
                -->
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="{% url 'frontapp:index' %}"><i class="glyphicon glyphicon-home"></i> General Information</a></li>
                    <li><a href="{% url 'frontapp:registration' %}"><i class="glyphicon glyphicon-registration-mark"></i> Registration</a></li>
                    <!--<li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Pages
                            <span class="caret pull-right"></span>
                         </a>
                         <ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>
                        </li> -->
                </ul>
             </div>
		  	<div class="sidebar content-box" style="display: block;">
                <img src="/static/frontapp/images/upsayPlusCDS.png" alt="Mountain View" style="width:100%;"><br><br><br> 
                <center><img src="/static/frontapp/images/logo_telecom.png" alt="Mountain View" style="width:40%;"></center><br><br>
                <center><img src="/static/frontapp/images/logo_python.png" alt="Mountain View" style="width:90%;"></center> 
            </div>
		  </div>
          <div class="col-md-10">
            <div class="row">
                {% block content %}
                {% endblock content %}
            </div> <!-- row -->
          </div> <!-- col-md-10 -->
      </div> <!-- row -->
   </div><!-- page-content -->


  	<div id="footer">
    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Bootstrap Theme: thanks  <a href='https://github.com/VinceG/Bootstrap-Admin-Theme-3'>VinceG!</a> -- &nbsp; &nbsp; &nbsp; &nbsp; Scientific Programming with Python and Software Engineering Best Practices - Telecom Workshop April 2016
               <!-- upsayPlusCDS.png -->
           </div>
            
         </div>
      </footer>
  	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/frontapp/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/frontapp/js/custom.js"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
